# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environment
venv/
.env

# Node modules
node_modules/
package-lock.json

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
media/

Introduction_to_Django/myenv/

