<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Books</title>
</head>
<body>
    <h1>Books Available:</h1>
    <ul>
        {% for book in books %}
        <li>
            {{ book.title|escape }} by {{ book.author.name|escape }}
            {% if user.has_perm('relationship_app.can_change_book') %}
                <a href="{% url 'edit_book' book.pk %}">Edit</a>
            {% endif %}
            {% if user.has_perm('relationship_app.can_delete_book') %}
                <form action="{% url 'delete_book' book.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            {% endif %}
        </li>
        {% empty %}
        <li>No books found.</li>
        {% endfor %}
    </ul>

    {% if user.has_perm('relationship_app.can_add_book') %}
        <a href="{% url 'add_book' %}">Add New Book</a>
    {% endif %}
</body>
</html>
